body {
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    background-image: linear-gradient(90deg,#527cd0 0, #3fd9d7 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
html{
    height: 100hv;
}